/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    /* background-color: #333; */
    color: #fff;
    padding: 10px 20px;
}

/* Contact Page Styles */
.contact-main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.map-container {
    width: 50%;
    height: 450px;
}

.address-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address-info img {
    max-width: 100%;
    margin-bottom: 20px;
}

.address-info p {
    font-size: 16px;
    line-height: 1.5;
}

.address-info a {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.address-info a:hover {
    text-decoration: underline;
}
